@import "./../../../global.scss";

.custom-select-container {
    position: relative;
    width: 200px;
}

.custom-select {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.custom-select.open {
    border-bottom: none;
}

.dropdown-options {
    height: 250px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

.option {
    padding:  7px 10px 0px 10px;
    cursor: pointer;
    min-height: 40px;
    word-wrap: break-word;
    word-break: break-all;

    sub {
        bottom: 1em;
        font-size: 0.7rem;
        color: #7d927b;
    }
}

.option:hover {
    background-color: $theme-light-color;
}

.option.selected {
    background-color: $theme-color;
    color: white;
}
