.active>.page-link, .page-link.active, .page-link.active:hover {
    background-color: #23d856;
    border-color: #23d856;
    color: white !important;
}

.page-link, .page-link:focus, .page-link:hover {
    color: #23d856;
}