.confirm-delete-btn {
    background-color: #d31212!important;
    border: none;
    
    width: 76px;
    height: 30px;

    &:hover, &:active, &:focus {
        background-color: #f01e1e!important;
        outline: #f01e1e!important;
        box-shadow: #e38f8f!important;
    }
}

.confirm-cancel-btn {
    width: 76px;
    height: 30px;
}

.modal-body-content {
    flex-wrap: nowrap;
    width: 444px;
}

.team-numbering {
    margin: 6.5px 0px 0px;
    float: left;
    width: 28px;
}