@import "./../../global.scss";

.modal-backdrop.show {
  width: 100%;
}
.add-icon {
  color: #23d856;
  margin: 5px;
  border-color: aqua;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    box-shadow:  1px 1px 7px #23d856;
  }
}
.edit-icon {
  color: #23d856;
  &:hover {
    color: #1f9741;
    cursor: pointer;
  }
}
.delete-icon {
  color: rgba(255, 0, 0, 0.5);
  &:hover {
    color: red;
    cursor: pointer;
  }
}
.custom-modal-body{
  margin-left: 20px;
  margin-right: 20px;
}
.custom-modal-body .row {
  margin-top: 10px;
}
.save-btn {
  background-color: #23d856;
  border: none;
  &:hover {
    border-color: $theme-color;
    background-color: $theme-color;
    box-shadow:  1px 1px 7px #23d856;
  }
  &:disabled {
      background-color: #23d856;
  }
}

.cancel-btn {
  border: none;
  &:hover {
      box-shadow:  1px 1px 7px #6c757d;
  }
}

.delete-btn {
  border: none;
  &:hover {
      box-shadow:  1px 1px 7px #bb2d3b;
  }
}

.email-invalid-error-text {
  color: red;
  margin: 0px;
  font-size: 12px;
}