@import "./../../../global.scss";

.chevron-button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-button {
    background-color: rgba(9, 203, 9, 0);
    border-color: $theme-color;
    color: $theme-color;

    &:disabled {
        background-color: white;
        border-color: rgb(185, 185, 185);
        color: rgb(185, 185, 185);;
    }

    &:hover {
        background-color: $theme-color;
        color: rgb(255, 255, 255);
        border-color: $theme-color;
    }

    &:active {
        background-color: $theme-dark-color!important;
        border-color: $theme-color!important;
    }
}

.bottom-strip {
    margin-top: 30px;
    flex-direction: row;
    border-top: 1px solid $theme-color;

    Button {
        width: 75px;
        margin: 0px 10px 0px 10px;
        font-weight: 700;

    }

    .save-button {
        background-color: $theme-color;
        color: white;
        border-color: $theme-color;

        &:hover  {
            border-color: $theme-color;
            background-color: $theme-color;
            box-shadow:  1px 1px 7px #23d856;
        }

        &:active {
            background-color: $theme-dark-color;
        }
    }

    .cancel-button {
        background-color: #b0b0b0;
        border-color: #b0b0b0;
        color: white;

        &:hover {
            box-shadow:  1px 1px 7px #6c757d;
        }

        &:active {
            background-color: #878787;
        }
    }
   
}

.unassigned-list-header-row {
    justify-content: space-between;
    width: 100%;
    margin-left: 0px;

    div:nth-child(1) {
        padding: 0px;
    }
   
    .dropdown-column {
        padding: 0px;
        display: flex;
        justify-content: flex-end;
    }
}

// 3 action  dropdown
.dropdown-action {
}

//dropdown arrow button
.dropdown-action > .custom-button {
    height: 20px;
    width: 20px;
    border-radius: 70px !important;
    margin-top: 1px;
    background-color: white;
    border-color: gray;
    color: gray;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;

    &:hover, &:active, &:focus {
        border-color: gray;
        background-color: white;
        color: gray; 
        box-shadow: 0 0px 1px 0 $theme-color, 0 0px 13px 0 $theme-color;
    }

    &::after {
        border: 0;
    }

    &:empty::after {
        display:none;
    }

    svg {
        position: absolute;
        margin-left: -5.85px;
        margin-top: -2px;
        font-size: 12px;
    }
}

//dropdown menu
.dropdown-action > div:nth-child(2) {
    padding: 0px;
    background-color: #fdfffd;
    border: 1.5px solid rgb(155, 155, 155);

    button:hover {
        background-color: #23d856;
        color: #fff;
    }
}

.rotated {
    transform: rotate(180deg);
}

.button-spacing {
    height: 20px;
}