$background-color: white;

.footer {
  margin-top: auto;
  background-color: $background-color;
  padding: 10px;
  text-align: center;
  font-size:smaller;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center; /* Center items in the column */
  }
}
