@import "./../../global.scss";

.filter-button {
  background-color: #23d856;
  width: 80px;
  border: none;
  margin-top: 32px;
  align-items: center;
  &:hover {
    border-color: $theme-color;
    background-color: $theme-color;
    box-shadow:  1px 1px 7px #23d856;
  }
  &:disabled {
      background-color: #23d856;
  }
}

.clear-button {
  background-color: #23d856;
  width: 80px;
  border: none;
  margin-top: 32px;
  align-items: center;
  margin-left: 10px;
  &:hover {
    border-color: $theme-color;
    background-color: $theme-color;
    box-shadow:  1px 1px 7px #23d856;
  }
  &:disabled {
      background-color: #23d856;
  }
}