@import "./../../global.scss";

.add-btn {
    background-color: #23d856;
    width: 80px;
    border: none;
    &:hover {
        border-color: $theme-color;
        background-color: $theme-color;
        box-shadow:  1px 1px 7px #23d856;
    }
}

.link-style {
    color: #23d856;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
    &:hover {
        border-bottom: 1px solid #23d856;
    }
}