$theme-color: #23d856;
$background-color: #23d856;

$theme-light-color: #2bef63c6;
$theme-dark-color: #0b6825c6;

$edit-icon-color:#d8ba23c2;
$edit-icon-hover-color:#d8ba23;


// Text related
.bold-text {
    font-weight: 700;
}

.justify-content-right {
    justify-content: end;
}

.justify-content-left {
    justify-content: start;
}

.width-100 {
    width: 100%!important;
}


